* {
  box-sizing: border-box;
}

body {
  font-family: 'Varela Round', sans-serif;
  line-height: 1.8;
  background: #f3f3f3;
  text-align: center;
  color: #303030;
}

p {
  font-size: 1em;
}

a {
  color: #303030;
  text-decoration: none;
}

h2 {
  text-transform: uppercase;
  font-size: 1.1em;
  margin-bottom: 2em;
}

.container {
  padding-right: 1em;
  padding-left: 1em;
}

.main-header {
  padding-bottom: 2em;
  background: #252839;
}

.main-header .student-name{
  color: #f2b632;
  margin-top: 0;
  padding-top: .5em;
}

.main-nav a {
  display: block;
  color: #b5b5b7;
  text-decoration: none;
  background: rgba(255,255,255,0.2);
  padding: .5em;
  margin-bottom: .5em;
  text-transform: uppercase;
}

.main-nav a:hover {
color:white;
}

.student-bio {
  padding-top: 2em;
  color: #b5b5b7;
}

.student-bio img {
  width: 70%;
}

.main-content {
  background-color: white;
  padding-top: 2em;
}

.student-portfolio .portfolio-item {
  margin-bottom: 2em;
}

.student-portfolio .portfolio-item img {
  width: 100%;
}

.student-contact-details {
  padding-top: 2em;
  padding-bottom: 2em;
  background: #f3f3f3;
}

.student-skills {
  padding-top: 2em;
  padding-bottom: 2em;
  background: #f9f9f9;
}

.main-footer {
  border-top: 1px solid #ccc;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.main-footer span {
  float: left;
}

.main-footer .footer-nav {
  float: right;
}

.main-footer .footer-nav a {
  text-transform: uppercase;
  padding-left: 1em;
}

.main-footer .footer-nav a:not(:first-child) {
  display: none;
}

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}

@media (min-width: 768px) {
  .main-nav a {
    display: inline-block;
    background: transparent;
  }

  .student-bio img,
  .student-bio p {
    display: inline-block;
  }

  .student-bio img {
    float: right;
    width: calc(50% - 1em);
    padding-left: .5em;
  }

  .student-bio p {
    float: left;
    width: calc(50% - 1em);
    padding-right: .5em;
    margin: 0;
    text-align: left;
  }

  .student-portfolio {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .student-portfolio .portfolio-item {
    width: 50%;
  }

  .student-portfolio .portfolio-item:nth-child(odd) {
    padding-right: .5em;
  }

  .student-portfolio .portfolio-item:nth-child(even) {
    padding-left: .5em;
  }

  .main-footer .footer-nav a:first-child {
    display: none;
  }

  .main-footer .footer-nav a:not(:first-child) {
    display: inline-block;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
    margin: 0 auto;
  }

  .main-header .student-name {
    float: left;
  }

  .main-header .main-nav {
    float: right;
    margin: 1.5em 0;
  }

  .student-portfolio .portfolio-item {
    width: calc(100% / 3);
    padding: 0 .5em;
  }
}
